.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .movie-card {
    border: 1px solid #d77676;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: darkcyan;
    color: white;
  }
  
  .movie-card h2 {
    margin: 0 0 8px;
    font-size: 1.25em;
  }
  
  .movie-card p {
    margin: 4px 0;
  }
  
  .movie-card:hover {
     background-color: white;
     cursor: pointer;
     color: black;
  }